html {
    background-color: burlywood;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FFE4B5;
    padding: 0 20px 20px 20px;
    border: 2px solid white;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 2px 2px 1px white;
}
   
.block {
    width: 260px;
    background-color: rgb(241, 237, 181);
    border: 2px solid rgb(128, 119, 119);
    padding: 20px 10px 20px 30px;
    /*margin: 30px 20px 10px 50px;*/
}